# Including main requirements.txt here prevents incompatible versions to be baked into requirements-dev.txt.
# See https://github.com/jazzband/pip-tools/issues/398 for more details.
-c requirements.txt
uv
ruff
pre-commit
ipdb
ipython
rpdb
colorama
responses
pytest
pytest-cov
pytest-timeout
mkdocs
